{% extends 'base.html.twig' %}

{% block body_id 'createPlaylist' %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header form-title">Create Playlist</div>
                <div class="card-body">
                    {% if errors is not empty %}
                        <div class="alert alert-danger text-center" role="alert">
                            {% for error in errors %}
                                {{ error }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form name="my-form" enctype="multipart/form-data" action="{{ path('playlists_create') }}" method="post">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input type="text" id="name" placeholder="Name" class="form-control"
                                       name="playlist[name]" required>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <a class="btn btn-lg btn-light" href="{{ path('orpheus_index') }}">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-lg btn-secondary">
                                Submit
                            </button>
                        </div>
                        {{  form_row(form._token) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
