{% extends 'base.html.twig' %}

{% block body_id 'deleteArtist' %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <div class="card">
                <div class="card-header form-title">Delete Playlist</div>
                <div class="card-body">
                    <form name="my-form" enctype="multipart/form-data"
                          action="{{ path('playlists_delete', {id: playlist.id}) }}" method="post">
                        <div class="form-group row">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input type="text" id="name" placeholder="Name" class="form-control"
                                       name="playlist[name]" value="{{ playlist.name }}" required disabled>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <a class="btn btn-lg btn-light" href="{{ path('playlists_details', {id: playlist.id}) }}">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-lg btn-secondary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
